@font-face {
    font-family: 'bitter';
    src: url('fonts/bitter/Bitter-Regular.eot');
    src: url('fonts/bitter/Bitter-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/bitter/Bitter-Regular.woff2') format('woff2'),
    url('fonts/bitter/Bitter-Regular.woff') format('woff'),
    url('fonts/bitter/Bitter-Regular.ttf') format('truetype'),
    url('fonts/bitter/Bitter-Regular.svg#bitter') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'bitter', sans-serif;
    display: table;
    overflow: hidden;
}
.develop-text {
    font-size: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 10%;
    transition: all 1000ms ease;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVR42mNgAAIAAAUAAen63NgAAAAASUVORK5CYII=);
    background-color: #f99;
    background-size: 100% 100%;
    animation: change-color 20s infinite linear;
    letter-spacing: 0.04em;
    text-shadow: #000 0 0 1px;
    color: #fff
}

@keyframes change-color {
    0% {
        background-color: #f99;
    }
    14.29% {
        background-color: #fc6;
    }
    28.57% {
        background-color: #ff9;
    }
    42.86% {
        background-color: #9f9;
    }
    57.14% {
        background-color: #cff;
    }
    71.43% {
        background-color: #ccf;
    }
    85.71% {
        background-color: #fcf;
    }
}